<h1>Oregon Trail Name Generator</h1>
<form>
    <label for="originalName">Enter your own name, or hit the trail with a brand new one.</label>
    <input type="text" class="input input--full-width" [(ngModel)]="originalName" name="originalName" id="originalName" autofocus>
    <button type="submit" class="btn" (click)="generateName(originalName)">Saddle up</button>
</form>

<p class="trailname">
    <ng-container *ngIf="storedNames.length > 0">
        <ul>
            <li *ngFor="let name of storedNames">{{name}}</li>
        </ul>
    </ng-container>

    <span id="trailName"></span>
</p>