// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.amber {
    color: $amber !important;
}

.light-amber {
    color: $light-amber !important;
}

.green-1 {
    color: $green-1 !important;
}

.green-2 {
    color: $green-2 !important;
}

.green-3 {
    color: $green-3 !important;
}

.appleII {
    color: $appleII !important;
}

.appleIIc {
    color: $appleIIc !important;
}