/**
 * Basic typography style for copy text
 */

 body {     
     font-size: 1.5rem;
     font-family: 'Share Tech Mono', monospace;
     line-height: 1.25;
     }

main {
    @include color('primary');

    // ::selection {
    //     // @include background-color('primary');
    //     color: $body-bg;
    // }
}

 a {
     @include background-color('primary');
     color: $body-bg;
     text-decoration: none;
     padding: 0 0.2rem;
 }