/**
 * Basic typography style for copy text
 */

body {     
    font-size: $font-size-base;
    font-family: $font-family;
    line-height: 1.25;
}

::selection {
    // this needs to be fixed, this mixin won't import
    // @include background-color('primary');
    background: #fff;
    color: $body-bg;
}

main {
    @include color('primary');
}

h1,h2,h3,h4,h5,h6 {
    font-size: ($font-size-base * 1.5);
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    @include background-color('primary');
    color: $body-bg;
    text-decoration: none;
    padding: 0 0.2rem;
}