<footer>
  Created by <a href="http://alex-goff.com" title="Alex Goff website" target="_blank">Alex Goff</a>.
  View the <a href="http://alex-goff.com/oregontrail/original" title="Original Oregon Trail name generator">original</a>.
  Play the <a href="https://classicreload.com/oregon-trail.html" target="_blank" rel="noreferrer" title="Oregon Trail game in-browser">Oregon Trail</a>.
  Learn about <a href="https://en.wikipedia.org/wiki/Oregon_Trail" target="_blank" rel="noreferrer" title="Oregon Trail information">the trail</a>.
</footer>