button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.25;
    padding: 0 0.25rem;
    white-space: nowrap;
    
    @include color('primary');

    &:active,
    &.active,
    &:focus {
        @include background-color('primary');
        color: $body-bg;
        outline: none;
    }
}